{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ascension.css') }}">
{% endblock %}

{% block body %}

    {% include 'navbar.html.twig' %}

    <div class="content">
        <div class="left-column">
            <img src="{{ asset('images/fond-home.jpg') }}">
            <img src="{{ asset('images/status_ascension.png') }}" class="status-image">
            <img src="{{ asset('images/constellation_ascension.png') }}" class="constellation-image">
        </div>

      <div class="right-column">  <!-- PARTIE DE GAUCHE --> 

            <img src="{{ asset('images/logo_ascension.png') }}" class="logo-image">
            <img src="{{ asset('images/logo_jeux.png') }}" class="logo-jeux">
            <h1>
                Ascension est la divinité de la croissance et de la résilience.
                Elle accompagne l'équipe qui a emprunté son nom
            </h1>
            <br>
            <p>
                Discipline, bienveillance et résilience sont les vertus que la divinité leur a inculquées. L'équipe semble progresser sans cesse, leur croissance est sans commune mesure. Leur méthodologie, leur bienveillance, forment une armure qui les protège de toutes les épreuves et leur donne confiance dans le processus. C'est sûrement la recette de leur croissance légendaire.
            </p>

            <div class="roster">
                <h2>
                    Staff :
                </h2>

                <div class="roster-item">
                {% for ascension in ascensions %}
                    <img src="{{ asset(ascension.getManagerPp()) }}">
                    <p>
                            {{ ascension.getManagerPoste() }}
                        {% endfor %}
                    </p>
                </div>

                <div class="roster-item">
                {% for ascension in ascensions %}
                    <img src="{{ asset(ascension.getCoachPp()) }}">
                    <p>
                           {{ ascension.getCoachPoste() }}
                        {% endfor %}
                    </p>
                </div>

                <div class="roster-item">
                {% for ascension in ascensions %}
                    <img src="{{ asset(ascension.getHelperPp()) }}">
                    <p>
                            {{ ascension.getHelperPoste() }}
                        {% endfor %}
                    </p>
                </div>

            </div>

    
            <div class="roster">  
                <h3>
                    Joueurs :
                </h3>
  
                <div class="roster-item">
                    {% for ascension in ascensions %}
                        <img class="joueurs-smokey" src="{{ asset(ascension.getSmokeyPp()) }}">
                        <p>
                            {{ ascension.getSmokeyPoste() }}
                        </p>
                    {% endfor %}
                </div>

                <div class="roster-item">
                    {% for ascension in ascensions %}
                        <img class="joueurs" src="{{ asset(ascension.getTrapaPp()) }}">
                        <p>
                            {{ ascension.getTrapaPoste() }}
                        </p>
                    {% endfor %}
                </div>

                <div class="roster-item">
                    {% for ascension in ascensions %}
                        <img class="joueurs" src="{{ asset(ascension.getTypedPp()) }}">
                        <p>
                            {{ ascension.getTypedPoste() }}
                        </p>
                    {% endfor %}
                </div>
                
                <div class="roster-item">
                    {% for ascension in ascensions %}
                        <img class="joueurs" src="{{ asset(ascension.getGingkoPp()) }}">
                        <p>
                            {{ ascension.getGinkgoPoste() }}
                        </p>
                    {% endfor %}
                </div>
                
                <div class="roster-item">
                    {% for ascension in ascensions %}
                        <img class="joueurs-realzz" src="{{ asset(ascension.getRealzzPp()) }}">
                        <p>
                            {{ ascension.getRealzzPoste() }}
                        </p>
                    {% endfor %}
                </div>
            </div>

        </div> <!-- FIN DE PARTIE DE GAUCHE --> 
    </div>

{% endblock %}